extends layout

block content
    h1= title
    p VagaTimeTracker
    #wrapper    
        // userInfo
        #userInfo
            h2 Info
            p
                strong User:
                | <span id='userName'></span>
                br
                strong Name:
                | <span id='userInfoName'></span>
                br
                strong Time:
                | <span id='userInfoTime'></span>
                br
            #pin
            h2 PIN:
                fieldset
                    input#inputPin(type='number', placeholder='0000')

            h2 Timer
            #timer
                table
                    tbody
                        tr
                            td
                                button(id='start') start
                            td
                                button(id='stop') stop
                        tr
                            td
                                button(id='zigi') Zigi
                            td
                                button(id='zmittag') Zmittag


        h2 User List
        #userList
            table
                thead
                    th username
                    th full name
                    th status
                tbody
