doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/clock.css')
  body
    block content
    script(src='/jquery/dist/jquery.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/clock.js')

